---
layout: default
title: "Didattica"
---
{% include navigation.html %}
<section class="scene">
    <div class="container my-auto">
      <div class="row align-items-center align-middle">
          <div class="col-12 col-md-6 col-lg-6 order-md-2" data-aos="fade-left" data-aos-delay="100">

            <!-- Image -->
            <img src="assets/img/illustration/404-min.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." >

          </div>
          <div class="col-12 col-md-6 col-lg-6 order-md-1 mt-sm-4" data-aos="fade-up">                    
            <!-- Heading -->
            <h1 class="display-3 text-md-left text-center">
                {{site.data.didattica.sezione1.titolo}}
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                {{site.data.didattica.sezione1.sottotitolo}}
            </p> 
          </div>
        </div>
    </div>
</section>
{% for item in site.data.didattica.sezioni %}
    {% capture alignDirection %}{% cycle 'left', 'right' %}{% endcapture %}
    {% capture orderMd1 %}{% cycle '1', '2' %}{% endcapture %}
    {% capture orderMd2 %}{% cycle '2', '1' %}{% endcapture %}
    {% assign imgIndex = forloop.index %}

      {% include project.html 
        titolo=item.titolo
        sottotitolo=item.sottotitolo
        pulsanteRosso=item.pulsanteRosso
        pulsante=item.pulsante
        alignDirection=alignDirection
        orderMd1=orderMd1
        orderMd2=orderMd2
        img=item.img
      %}
{% endfor %}




<section class="py-8 py-md-11">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 col-lg-6 aos-init aos-animate" data-aos="fade-right">
                <h1 class="display-3 text-md-left">
                    <span class="text-red">{{site.data.didattica.sezione5.titoloRosso}}</span>                        
                    {{site.data.didattica.sezione5.titolo}}
                </h1>
                <p class="lead text-md-left text-muted mb-6 mb-lg-8">
                  {{site.data.didattica.sezione5.sottotitolo}}
                </p>
                <img src="assets/img/illustration/home-05-min.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="...">
            </div>                
            <div class="col-12 col-md-5 col-lg-6 aos-init aos-animate" data-aos="fade-left" data-aos-delay="150">
              <div class="rounded-heavy box d-flex bg-dark text-light flex-column p-4_5">
                <div class="d-flex justify-content-between">
                  <h2 class="my-auto">Lunedì</h2>
                  <div class="d-flex">
                    <div class="rounded-circle d-flex my-auto" style="height: 40px; width: 40px; background-color: #4C4F51;">
                      <img src="assets/icns/arrow-down-white.svg" width="17" fill="white" class="mx-auto" style="transform: rotate(90deg);">
                    </div>
                    <div class="rounded-circle d-flex my-auto ml-2" style="height: 40px; width: 40px; background-color: #4C4F51;">
                      <img src="assets/icns/arrow-down-white.svg" width="17" fill="white" class="mx-auto" style="transform: rotate(-90deg);">
                    </div>
                  </div>                      
                </div>                   
              </div>
              <div class="grey rounded-heavy box d-flex px-4_5 justify-content-between mt-3">
                <h2 class="my-auto">Italiano</h2>
                <div class="rounded-circle bg-white d-flex my-auto" style="height: 40px; width: 40px;">
                  <img src="assets/icns/arrow-down.svg" width="20" class="mx-auto">
                </div>                    
              </div>
              <div class="grey rounded-heavy box d-flex px-4_5 justify-content-between mt-3">
                <h2 class="my-auto">Latino</h2>
                <div class="rounded-circle bg-white d-flex my-auto" style="height: 40px; width: 40px;">
                  <img src="assets/icns/arrow-down.svg" width="20" class="mx-auto">
                </div>                    
              </div>
              <div class="grey rounded-heavy box d-flex px-4_5 justify-content-between mt-3">
                <h2 class="my-auto">Fisica</h2>
                <div class="rounded-circle bg-white d-flex my-auto" style="height: 40px; width: 40px;">
                  <img src="assets/icns/arrow-down.svg" width="20" class="mx-auto">
                </div>                    
              </div>
              <div class="grey rounded-heavy box d-flex px-4_5 justify-content-between mt-3">
                <h2 class="my-auto">Fisica</h2>
                <div class="rounded-circle bg-white d-flex my-auto" style="height: 40px; width: 40px;">
                  <img src="assets/icns/arrow-down.svg" width="20" class="mx-auto">
                </div>                    
              </div>
              <div class="grey rounded-heavy box d-flex px-4_5 justify-content-between mt-3">
                <h2 class="my-auto">Matematica</h2>
                <div class="rounded-circle bg-white d-flex my-auto" style="height: 40px; width: 40px;">
                  <img src="assets/icns/arrow-down.svg" width="20" class="mx-auto">
                </div>                    
              </div>
              <div class="rounded-heavy box d-flex bg-dark text-light flex-column p-4_5 mt-3">
                <div class="d-flex justify-content-between">
                  <h2 class="my-auto">Potenziato</h2>
                  <div class="d-flex">
                    <div class="rounded-circle d-flex my-auto" style="height: 40px; width: 40px; background-color: #4C4F51;">
                      <img src="assets/icns/arrow-down-white.svg" width="17" fill="white" class="mx-auto" style="transform: rotate(90deg);">
                    </div>
                    <div class="rounded-circle d-flex my-auto ml-2" style="height: 40px; width: 40px; background-color: #4C4F51;">
                      <img src="assets/icns/arrow-down-white.svg" width="17" fill="white" class="mx-auto" style="transform: rotate(-90deg);">
                    </div>
                  </div>                      
                </div>                   
              </div>
            </div>                         
        </div>
    </div>
  </section>