---
title: Didattica
layout: default
description: Sei interessato al nostro modo di fare scuola? Scopri i nostri progetti,
  le nostre attività e il nostro piano di sostegno e recupero.
---

{% include navigation.html %}
<section class="scene">
    <div class="container my-auto">
      <div class="row align-items-center align-middle">
          <div class="col-12 col-md-6 col-lg-6 order-md-2" data-aos="fade-left" data-aos-delay="100">

            <!-- Image -->
            <img src="assets/img/illustration/didattica-1-min.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." >

          </div>
          <div class="col-12 col-md-6 col-lg-6 order-md-1 mt-sm-4" data-aos="fade-up">                    
            <!-- Heading -->
            <h1 class="display-3 text-md-left text-center">
                {{site.data.didattica.sezione1.titolo}}
            </h1>

            <!-- Text -->
            <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                {{site.data.didattica.sezione1.sottotitolo}}
            </p> 
          </div>
        </div>
    </div>
</section>
{% for item in site.data.didattica.sezioni %}
    {% capture alignDirection %}{% cycle 'left', 'right' %}{% endcapture %}
    {% capture orderMd1 %}{% cycle '1', '2' %}{% endcapture %}
    {% capture orderMd2 %}{% cycle '2', '1' %}{% endcapture %}
    {% assign imgIndex = forloop.index %}

      {% include project.html 
        titolo=item.titolo
        sottotitolo=item.sottotitolo
        pulsanteRosso=item.pulsanteRosso
        pulsante=item.pulsante
        alignDirection=alignDirection
        orderMd1=orderMd1
        orderMd2=orderMd2
        img=item.img
      %}
{% endfor %}

<section class="py-8 py-md-11">
  <div class="container">
    <h1 class="display-3 text-center">
      {{site.data.didattica.sezione2.titolo}}
   </h1>
    {% include timeTable.html %}
    <hr class="mt-5">
    <p><b>[Educazione Civica]</b>, disciplina comune a tutti gli indirizzi, prevede un’ora settimanale spalmata su
        differenti materie per ogni anno di corso. L’insegnamento è affidata a docenti di Discipline Giuridiche
        Economiche</p>
  </div>  
</section>