<section class="py-8 py-md-11">
    <div class="container my-auto">
      <div class="row align-items-center align-middle">
        <div class="col-12">                    
          <!-- Heading -->
          <h1 class="display-3 text-center editable">
            <span class="text-red">Colloqui</span><br />Individuali
          </h1>
          <!-- Text -->
          <p class="lead text-center text-muted mb-6 mb-lg-8 editable">
            Le docenti referenti per l&rsquo;Orientamento in Ingresso offriranno <span class="text-red">supporto individuale</span> per informazioni e chiarimenti <span class="text-red"><b><i>tutti i luned&igrave;</i></b></span> pomeriggio, <span class="text-red">dalle ore 16.00 alle ore 18.00</span>, a partire <span class="text-red">dal 26 ottobre 2020</span> e sino al termine delle iscrizioni.
          </p>
          <div class="row align-items-center align-middle justify-content-center editable">
            
          </div>
          </div>
          </div>
        </div>        
    
  </section>
