<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container mt-2">
      <!-- Brand -->
      <a class="navbar-brand" href="./">
        <img src="assets/img/logo/logo.svg" class="navbar-brand-img logo" alt="..." />
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Navigation -->
        <ul class="navbar-nav ml-auto mx-auto">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a class="nav-link editable" id="navbarLandings" href="contatti.html">
                Contatti
                </a>
            </li>
            {% endfor %}
        </ul>  
      </div>

      <a class="navbar-brand d-none d-xl-block" href="https://lecosimo.it">
        <img src="assets/img/logo/logo-lecosimo-small.svg" class="navbar-brand-img logo" alt="..." />
      </a>
    </div>
  </nav>
